/* .student-info-block{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 120px;
    margin: 2px;
    background-color: rgb(255, 225, 93);
}
.student-info-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
} */