{% extends 'drivingschool/student_workbench_base.html' %}

{% block title %}
Редактирование данных
{% endblock %}

{% block content %}
<form action="" method="post" class="d-flex flex-column align-items-start">
    {% csrf_token %}
    <label for="email">Электронная почта</label>
    <input type="email" name="email" placeholder="example@mail.ru">
    <label for="password">Пароль</label>
    <input type="password" name="password" placeholder="Введите пароль">
    <label for="password2">Пароль (еще раз)</label>
    <input type="password" name="password2" placeholder="Подтвердите пароль">
    <input type="submit" value="Сохранить" class="mt-2">
</form>
{% endblock %}