{% extends 'drivingschool/student_workbench_base.html' %}

{% block title %}
Группа {{ object.name }}
{% endblock %}

{% block content %}
<div class="jumbletron p-3 ">
    <h1 class="display-4">{{ object }}</h1>
    <p class="lead">Преподаватель: <a class="link link-secondary" href="{{ object.tutor.user.get_absolute_url }}">{{ object.tutor.user.get_full_name }}</a></p>
    <hr>
    <h4 class="mb-3">Обучающиеся</h4>
    <div class="list-group">
        {% for student in object.student_set.all %}
        <a href="{{ student.user.get_absolute_url }}"class="list-group-item list-group-item-action text-dark ">
            <img src="{{ student.user.photo.url }}" class="rounded-circle " width="48" height="48" alt="avatar">
            {{ student.user.get_full_name }}
        </a>
        {% empty %}
        <li class="list-group-item text-center">Пусто</li>
        {% endfor %}
    </div>
</div>
{% endblock %}