{% extends 'drivingschool/landingbase.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'drivingschool/home.css' %}">
{% endblock %}

{% block content %}
<main class="position-relative">
  <section class="hello-container position-relative ">
    <div class="hello position-absolute"></div>
    <div class="hello-content d-flex flex-column justify-content-center text-light position-relative w-50 m-auto">
      <h2 class="text-center mb-3">Автошкола Престиж</h2>
      <p class="text-center mb-4">Только ученикам нашей автошколы в курс обучения включена уникальная возможность
        выбрать любое количество занятий вождения по маршруту ГИБДД Москвы длительностью 120 минут без доплат!
      </p>
      <a href="{% url 'about_us' %}" class="btn btn-lg btn-outline-warning align-self-center px-5">Подробнее</a>
    </div>
  </section>
  <section class="container-xl p-5 d-flex justify-content-evenly align-items-center">
    <img src="{% static 'drivingschool/gibdd.png' %}" class="d-block mx-3 flex-wrap" width="80" alt="gibdd">
    <p class="mx-5">"Престиж" – Автошкола, которая соответствует требованиям ГИБДД,
      что подтверждает право обучать на категории "В", "А".
      Обучение теории проходит за 2 месяца. Вождение на автомобиле начинается сразу, не нужно ждать.
      Руководитель лично регулярно проводит проверку учебных авто на соответствие требованиям ГИБДД.
      Занятия по медицине, психологии, юридическим основам, проводят профильные действующие специалисты.
      Внутренние экзамены сдаются в выходной день - по воскресеньям.
      Учащимся предоставляется менеджер, сопровождающий выпускников на экзаменах в ГИБДД.
    </p>
  </section>
  <section class="bg-light p-5">
    <div class="container ">
      <div class="h3">
        <p>Автошкола "Престиж" - получение прав:</p>
      </div>
      <div class="d-flex flex-wrap justify-content-evenly " style="gap: 12px;">
        <div class="d-flex " style="width: 35%">
          <p class="" style="font-size: 96px; margin-right: 16px;">1</p>
          <div class="mt-5">
            <p class="m-0">Шаг</p>
            <hr class="m-2">
            <ul class="px-4">
              <li>Подача документов</li>
              <li>Прохождение медицинской комиссии</li>
            </ul>
          </div>
        </div>
        <div class="d-flex " style="width: 35%">
          <p class="" style="font-size: 96px; margin-right: 16px;">2</p>
          <div class="mt-5">
            <p class="m-0">Шаг</p>
            <hr class="m-2">
            <ul class="px-4">
              <li>Прохождение курса по теории и вождению</li>
            </ul>
          </div>
        </div>
        <div class="d-flex " style="width: 35%">
          <p class="" style="font-size: 96px; margin-right: 16px;">3</p>
          <div class="mt-5">
            <p class="m-0">Шаг</p>
            <hr class="m-2">
            <ul class="px-4">
              <li>Сдача внутреннего экзамена по теории и вождению</li>
            </ul>
          </div>
        </div>
        <div class="d-flex " style="width: 35%">
          <p class="" style="font-size: 96px; margin-right: 16px;">4</p>
          <div class="mt-5 ml-5">
            <p class="m-0">Шаг</p>
            <hr class="m-2">
            <ul class="px-4">
              <li>Сдача экзамена в ГИБДД по теории и вождению</li>
              <li>Получение прав
            </ul>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'drivingschool/call_application.html' %}
</main>
{% include 'drivingschool/landing_footer.html' %}
<footer class="footer mt-0 py-3 bg-dark">
    <div class="container">
        <a href="#logo" class="btn-link text-warning">Вернуться наверх</a>
    </div>
</footer>
{% endblock %}