{% load static %}
<footer class="footer bg-dark text-light text-center p-3">
    <div class="container">
        <div class="row">
            <a href="{% static 'contract_sample.pdf' %}" class="link ">Образец договора</a>
        </div>
        <div class="row">
            <a href="#logo" class="btn-link text-warning">Вернуться наверх</a>
        </div>
        <span>ООО Престиж</span>
        <div class="row">
            <a href="http://vk.com/orkooshov/">VK</a>
            <a href="http://t.me/orkooshov/">TG</a>
        </div>
    </div>
</footer>