{% extends 'drivingschool/base.html' %}
{% load static %}

{% block title %} Автошкола Престиж {% endblock %}
{% block body %}
<div class="">
  <div class="bg-light">
  <header class="container">
    <div class="row">
      <div class="py-1 col-6">
        <a href="/" class="d-block text-dark text-decoration-none mx-3 d-flex align-items-center"
          style="width: fit-content;">
          <img id="logo" src="{% static 'drivingschool/logo.png' %}" class="mx-3" height="48" alt="logo">
          <h4 class="">Автошкола Престиж</h4>
        </a>
      </div>
      <style>
        .nav-link {
          font-size: 20px;
          display: block;
        }

        .nav-link:hover {
          text-decoration: underline var(--bs-blue) 3px;
        }

        .nav-link_active {
          text-decoration: underline var(--bs-yellow) 3px;
          color: black;
        }

        .nav-link_active:hover {
          color: inherit;
        }
        .social-links {
          font-size: 24px;
          margin-right: 12px;
        }
      </style>
      <ul class="col nav d-flex align-items-center">
        <li><a href="{% url 'home' %}"
            class="nav-link {% if header_selected_index == 0 %} nav-link_active {% else %} link-dark {% endif %}">Главная</a>
        </li>
        <li><a href="{% url 'pricing' %}"
            class="nav-link {% if header_selected_index == 1 %} nav-link_active {% else %} link-dark {% endif %}">Цены</a>
        </li>
        <li><a href="{% url 'about_us' %}"
            class="nav-link {% if header_selected_index == 2 %} nav-link_active {% else %} link-dark {% endif %}">Об
            автошколе</a></li>
        <li><a href="{% url 'contact_us' %}"
            class="nav-link {% if header_selected_index == 3 %} nav-link_active {% else %} link-dark {% endif %}">Контакты</a>
        </li>
      </ul>
    </div>
  </header>
  </div>
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2"
    style="background-color: var(--bs-gray-300);">
    <div class="container d-flex justify-content-between align-items-center py-1">
      <p class="m-0"><a class="text-decoration-none text-black" href="{% static 'drivingschool/licence-example.jpg' %}">Лицензия 77Л01 №0008254</a></p>
      <p class="m-0">+7 (999) 999-99-99</p>
      <div>
        <a href="http://t.me/orkooshov" class="social-links"><i class="fa fa-telegram"></i></a>
        <a href="http://vk.com/orkooshov/" class="social-links"><i class="fa fa-vk"></i></a>
        <a href="http://fb.com/" class="social-links"><i class="fa fa-facebook"></i></a>
      </div>
      <p class="m-0">10:00 - 20:00 ПН-ПТ</p>
      <p class="m-0">orkooshov@gmail.com</p>
      <a href="{% url 'login' %}" class="btn btn-warning">Личный кабинет</a>
    </div>
  </header>
</div>
{% block content %}{% endblock %}

  <div class="bg-white">
    <div class="m-5">
      <div class="container text-center">
        <h3 class="">С нами можно связаться</h3>
        <p class="m-0">По будням с 10:00 до 20:00 МСК</p>
        <br>
        <div class="d-flex flex-row justify-content-evenly m-4">
          <div>
            <strong>+7 (999) 999-99-99</strong>
            <p class="m-0 text-secondary">Бесплатно по России</p>
          </div>
          <div>
            <strong>orkooshov@gmail.com</strong>
            <p class="m-0 text-secondary">Ответим в течение рабочего дня</p>
          </div>

          <style>
            .social-links {
              font-size: 32px;
            }
          </style>
          <div>
            <a href="http://t.me/orkooshov" class="social-links"><i class="fa fa-telegram"></i></a>
            <a href="http://vk.com/orkooshov/" class="social-links"><i class="fa fa-vk"></i></a>
            <a href="http://fb.com/" class="social-links"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
        <hr>
        <h3 class="text-center">Заказать звонок</h3>
        {% include 'drivingschool/call_application.html' %}
      </div>
    </div>
  </div>
{% endblock %}