
{% extends 'drivingschool/base.html' %}
{% load static %}

{% block title %} Автошкола Престиж {% endblock %}
{% block body %}
<div class="container-fluid bg-dark">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 text-white">
      <div style="width: 200px;">
        <a href="/" class="d-block text-dark text-decoration-none" style="width: fit-content;">
          <img id="logo" src="{% static 'drivingschool/logo.png' %}" height="48" alt="logo">
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home' %}" class="nav-link px-2 {% if header_selected_index == 0 %} link-warning {% else %} link-light {% endif %}">Главная</a></li>
        <li><a href="{% url 'pricing' %}" class="nav-link px-2 {% if header_selected_index == 1 %} link-warning {% else %} link-light {% endif %}">Цены</a></li>
        <li><a href="{% url 'about_us' %}" class="nav-link px-2 {% if header_selected_index == 2 %} link-warning {% else %} link-light {% endif %}">Об автошколе</a></li>
        <li><a href="{% url 'contact_us' %}" class="nav-link px-2 {% if header_selected_index == 3 %} link-warning {% else %} link-light {% endif %}">Контакты</a></li>
      </ul>

      <div class="col-md-3 text-end" style="width: 200px;">
        <a  href="{% url 'login' %}" class="btn btn-outline-warning me-2">Личный кабинет</a>
      </div>
    </header>
</div>
{% block content %}{% endblock %}
{% endblock %}