{% extends 'drivingschool/subbase.html' %}

{% block title %}
Расписание по вождению
{% endblock %}

{% block content %}
<table class="table table-striped">
    <tr class="table-warning">
        <th>День недели</th>
        <th>Время</th>
        <th>Обучающийся</th>
        <th>Инструктор</th>
    </tr>
    {% for schedule in object_list %}
    <tr>
        <td>{{ schedule.get_weekday_display }}</td>
        <td>{{ schedule.get_position_display }}</td>
        <td>{{ schedule.student.user.get_full_name }}</td>
        <td><a class="link-dark" href="{{ schedule.student.instructor.user.get_absolute_url }}">{{ schedule.student.instructor.user.get_full_name }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}