{% extends 'drivingschool/base.html' %}
{% load static %}

{% block body %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark p-1 d-flex justify-content-between">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'drivingschool/logo.png' %}" alt="logo" style="width: 60px;">
  </a>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="{% url 'group_list' %}" class="nav-link px-2 {% if header_selected_index == 0 %} link-warning {% else %} link-light {% endif %}">Группы</a></li>
    <li><a href="{% url 'schedule_theory_list' %}" class="nav-link px-2 {% if header_selected_index == 1 %} link-warning {% else %} link-light {% endif %}">Расписание занятий</a></li>
    <li><a href="{% url 'schedule_practice_list' %}" class="nav-link px-2 {% if header_selected_index == 2 %} link-warning {% else %} link-light {% endif %}">Расписание вождения</a></li>
    <li><a href="{% url 'instructor_list' %}" class="nav-link px-2 {% if header_selected_index == 3 %} link-warning {% else %} link-light {% endif %}">Инструкторы</a></li>
  </ul>
  <div class="p-2">
    <a href="{% url 'logout' %}" class="btn btn-outline-warning">Выйти</a>
  </div>
</nav>
<div class="d-flex align-items-stretch h-100">
  <div class="d-flex flex-row align-items-stretch">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
      <a href="{{ request.user.get_absolute_url }}" class="pt-1 d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <img src="{{ request.user.photo.url }}" width="32" height="32" class="rounded-circle me-2" alt="avatar">
        <strong class="text-center">{{ request.user.get_full_name }}</strong>
      </a>
      <ul class="nav nav-pills flex-column mb-auto">
        <hr>
        <li class="nav-item">
          <a href="{% url 'student' %}" class="nav-link link-dark">
            <span class="material-icons">
              computer
            </span>
            Рабочий стол
          </a>
        </li>
        <li>
          <a href="http://www.pdd24.com/pdd-onlain" class="nav-link link-dark">
            <span class="material-icons">school</span>
            Тестирование
          </a>
        </li>
        <!-- <li>
          <a href="#" class="nav-link link-dark">
            <span class="material-icons">description</span>
            Данные для Госуслуг
          </a>
        </li> -->
        <li>
          <a href="{% url 'logout' %}" class="nav-link link-dark">
            <span class="material-icons">logout</span>
            Выход
          </a>
        </li>
      </ul>
    </div>
  </div>
  <main class="content p-3 w-100">
    {% block content %} {% endblock %}
  </main>
</div>
{% endblock %}