{% extends 'drivingschool/student_workbench_base.html' %}
{% load static %}

{% block title %} ЛК Обучающегося {% endblock %}
{% block content %}
<div class="welcome">

</div>
<div class="d-flex flex-wrap position-relative" style="gap: 8px;">
  <div >
    <a class="p-3 btn btn-outline-dark" href="{{ request.user.get_student.group.get_absolute_url }}">
      <div>Учебная группа</div>
      <div class="h3">{{ request.user.get_student.group }}</div>
    </a>
  </div>
  <div class="">
    <a class="btn btn-outline-danger p-3" href="{{ request.user.get_student.instructor.user.get_absolute_url }}">
      <div>Ваш инструктор</div>
      <div class="h3">{{ request.user.get_student.instructor.user.get_full_name }}</div>
    </a>
  </div>
  <!-- <div class="">
    <a href="{% url 'schedule_practice_list' %}" class="btn btn-outline-primary">
      <span >Следующее занятие вождения</span>
      <p>{{ request.user.get_student.get_next_lesson }}</p>
    </a>
  </div> -->
  <div class="border rounded p-3 text-center">
    <div class="">Категория прав</div>
    <div class="h3">{{ request.user.get_student.license_category }}</div>
  </div>
  <div style="width: 300px;">
    <a class="btn btn-outline-success p-3 w-100" href="#">
      <div>Учебное ТС</div>
      <div class="h5">{{ request.user.get_student.instructor.car.get_name }}</div>
      <div class="h5">{{ request.user.get_student.instructor.car.state_number }}</div>
    </a>
  </div>
</div>
{% endblock %}
