{% extends 'drivingschool/subbase.html' %}
{% load static %}

{% block head %} <link rel="stylesheet" href="{% static 'drivingschool/student.css' %}"> {% endblock %}
{% block title %} ЛК Обучающегося {% endblock %}
{% block content %}
<div class="welcome">

</div>
<div class="d-flex flex-wrap position-relative" style="gap: 8px;">
  <div class="border rounded bg-warning px-5 py-4" >
    <div class="">Учебная группа</div>
    <div style="font-weight: bolder;">{{ student.group }}</div>
  </div>
  <div class="border rounded bg-warning" >
    <div class="">Категория прав</div>
    <div style="font-weight: bolder;">{{ student.license_category }}</div>
  </div>
  <div class="border rounded bg-warning">
    <span >Следующее занятие вождения</span>
  </div>
  <div class="border rounded bg-warning">
    <div>Ваш инструктор</div>
    <div  style="font-weight: bolder;">{{ student.instructor.user.get_full_name }}</div>
  </div>
  <div class="border rounded bg-warning">
    <div>Учебное ТС</div>
    <div style="font-weight: bolder;">{{ student.instructor.car.get_name }}</div>
    <div style="font-weight: bolder;">{{ student.instructor.car.state_number }}</div>
  </div>
</div>
{% endblock %}
