{% extends 'drivingschool/student_workbench_base.html' %}

{% block title %}
Пользователь {{ object.get_short_name }}
{% endblock %}

{% block content %}
<img src="{{ user.photo.url }}" width="32" height="32" class="rounded-circle me-2" alt="avatar">
<strong class="text-center">{{ user.get_full_name }}</strong>
<table class="table mb-1">
    <tr class="row">
        <td class="col-4">Имя пользователя:</td>
        <td class="col-4">{{ user.username }}</td>
    </tr>
    <tr class="row">
        <td class="col-4">Почта:</td>
        <td class="col-4">{{ user.email }}</td>
    </tr>
    <tr class="row">
        <td class="col-4">Пол:</td>
        <td class="col-4">{{ user.get_gender_display }}</td>
    </tr>
    <tr class="row">
        <td class="col-4">Номер телефона:</td>
        <td class="col-4">{{ user.phone_number }}</td>
    </tr>
    <tr class="row">
        <td class="col-4">Роль:</td>
        <td class="col-4">{{ user.groups.first }}</td>
    </tr>
{% if user.is_tutor %} 
    <tr class="row">
        <td class="col-4">Кабинет:</td>
        <td class="col-4">{{ user.get_tutor.cabinet }}</td>
    </tr>
{% elif user.is_student %}
<tr class="row">
    <td class="col-4">Категория прав:</td>
    <td class="col-4">{{ user.get_student.license_category }}</td>
</tr>
<tr class="row">
    <td class="col-4">Группа: </td>
    <td class="col-4">{{ object.get_student.group }}</td>
</tr>
{% elif object.is_instructor %}
    <tr class="row">
        <td class="col-4">Авто:</td>
        <td class="col-4">{{ object.get_instructor.car.state_number }}</td>
    </tr>
    <tr class="row">
        <td class="col-4">Коробка передач:</td>
        <td class="col-4">{{ object.get_instructor.car.get_transmission_display }}</td>
    </tr>
{% endif %}
</table>
{% if request.user.username == user.username %}
<div class="mb-2">
    <a href="{% url 'user_edit' %}" class="link">Редактировать личные данные</a>
</div>
{% endif %}
{% if user.is_student %}
<p class="mb-0">Инструктор: </p>
<a class="btn px-2 py-0" href="{{ object.get_student.instructor.user.get_absolute_url }}">
    <img class="rounded-circle" width="48" height="48" src="{{ object.get_student.instructor.user.photo.url }}" alt="avatar">
    {{ object.get_student.instructor.user.get_full_name }}
</a>
{% elif user.is_instructor %}
<p>Обучающиеся: </p>
<div class="list-group">
    {% for student in object.get_instructor.student_set.all %}
    <a href="{{ student.user.get_absolute_url }}" class="list-group-item list-group-item-action">
        <img class="rounded-circle" src="{{ student.user.photo.url }}" width="48" height="48" alt="avatar">
        {{ student.user.get_full_name }}
    </a>
    {% empty %}
    <div class="list-group-item text-center">Пусто</div>
    {% endfor %}
</div>
{% endif %}
<div></div>
{% endblock %}